<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="./image/carro.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veiculos</title>
</head>
<body>
    <div class="container">
        <h1>Cadastro veiculo</h1>
        <form  method="post">
            <label for="placa"> Placa:
                <input type="text" name="placa">
            </label>
            
            <label for="fabricante"> Fabricante:
                <input type="text" name="fabricante">
            </label>

            <label for="modelo"> Modelo: 
                <input type="text" name="modelo" >
            </label>

            <label for="anoModelo"> Ano:
                <input type="number" name="anoModelo" maxlength="4">
            </label>

            <label for="qtd_portas"> Portas:
                <input type="number" name="qtd_portas">
            </label>

            <label for="acessorios">Acessorios:
                <input type="text" name="acessorios">
            </label>

            <div class="buttons">
                <button type="submit">Salvar</button>
            </div>
        </form>
    </div>
</body>
</html>