<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="./image/carro.png">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
</head>
<body>
    <div class="container">
        <form method="post">
            <h1>
                Cadastro de cliente
            </h1>
            <label for="nome"> Nome:
                <input type="text" name="nome">
            </label>

            <label for="cpf"> CPF:
                <input type="text" name="cpf">
            </label>

            <label for="telefone"> Telefone: 
                <input type="tel" name="telefone" >
            </label>

            <label for="email"> E-mail:
                <input type="email" name="email">
            </label>
            
            <label for="endereco"> Endereço: 
                <input type="text" name="endereco">
            </label>

            <label for="UF"> UF:
                <select name="UF" id="estado">
                    <option value="NULL">SELECIONE...</option>
                </select>
            </label>

            <div class="buttons">
                <button type="submit">Salvar</button>
            </div>
        </form>
    </div>
    <script src="./js/apiUF.js"></script>
</body>
</html>