<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" href="./image/carro.png">
 
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="../style/createUser.css" >

   <title>Cadastro de usuário</title>
</head>
<body>
   <div class="container">
       <div class="box">
           <h1>Cadastro de usuário</h1>
 
           <form action="#" method="post">
 
               <label for="nome">Nome:
                   <input type="text" name="nome" placeholder="Nome">
               </label>
              
               <label for="cargo">Cargo:
                   <input type="text" name="cargo" placeholder="Cargo">
               </label>
 
               <label for="login">Login:
                   <input type="text" name="login" placeholder="Usuário">
               </label>
              
               <label for="senha">Senha:
                   <input type="password" name="senha" placeholder="Senha">
               </label>
              
               <label for="confirmarSenha">Confirmar Senha:
                   <input type="password" name="confirmarSenha" placeholder="Confirmar senha">
               </label>
 
               <label for="email">E-mail:
                   <input type="email" name="email" placeholder="Email" >
               </label>
              
               <div class="buttons">
                   <button type="submit">Salvar</button>
                   <a href="./index.html">Voltar</a>
               </div>
           </form>
       </div>
   </div>
</body>
</html>