<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./image/carro.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,400&display=swap" rel="stylesheet">

    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../style/menu.css">

    <title>Menu</title>
</head>
<body>
    <nav class="sidebar">
        <header>
            <div class="image"> 
                <img src="../image/user.png" alt="logo">
            </div>
            <span id="name-user">nome do usuário</span>
        </header> 

        <div class="menu-bar">
            <div class="menu">
                <ul>
                    <li class="seach">
                        <i class='bx bx-search-alt-2 bx-sm' style='color:#ffffff'  ></i>
                        <input type="seach" placeholder="Seach">
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bxs-home bx-sm' style='color:#ffffff'  ></i>
                           <span>Home</span> 
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bxs-car bx-sm' style='color:#ffffff'  ></i>    
                            <span>Veiculos</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-current-location bx-sm' style='color:#fffcfc' ></i>
                            <span>Aluguel</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-user-plus bx-sm' style='color:#fffcfc' ></i>
                            <span>Clientes</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-money-withdraw bx-sm' style='color:#fffcfc'></i>
                            <span>Faturamento</span>    
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-user bx-sm' style='color:#fffcfc' ></i>
                            <span>Usuários</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class='bx bx-exit bx-sm' size="lg" style='color: #fffcfc'></i>
                            <span>Sair</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>